/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import "compass/reset";
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  color: rgba(0, 0, 0, .7);
}

html {
  background-color: rgba(0, 0, 0, .05);
}

#bigbox {
  width: 940px;
  margin: 0px auto;
}

#header {
  height: 120px;
  h3 {
    font-size: 1.5rem;
    padding: 40px 0px 10px 0px;
    color: #13E859;
    &:hover {
      color: rgba(19, 230, 90, .7);
      cursor: pointer;
    }
  }
  p {
    font-size: 0.8rem;
  }
}

#nav {
  height: 54px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: white;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  ul {
    display: flex;
    flex-direction: row;
    li {
      font-size: .9rem;
      height: 54px;
      padding: 20px 20px;
      border-left: 1px solid rgba(0, 0, 0, .1);
      &:hover {
        color: #13E859;
        cursor: pointer;
      }
    }
  }
}

#article {
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0px 15px 0px;
  padding: 0px;
}

#section_left {
  width: 640px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: white;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

.leftbox {
  width: 580px;
  height: 100%;
  margin: 20px auto 50px auto;
  .focus {
    width: 580px;
    height: 108px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 40px;
    .focus_left {
      width: 70px;
      height: 70px;
      background-color: #13E859;
      border-radius: 5%;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      h3 {
        color: white;
        font-size: 2.3rem;
        margin-bottom: 8px;
      }
      p {
        font-size: .8rem;
        color: white;
      }
    }
    .focus_right {
      margin-left: 20px;
      width: 460px;
      height: 107px;
      .focustext {
        font-size: 1.5rem;
        letter-spacing: 0.8px;
        line-height: 36px;
        padding-bottom: 10px;
        &:hover {
          color: #13E859;
          cursor: pointer;
        }
        border-bottom: 1px solid black;
      }
      p {
        font-size: .9rem;
        padding: 10px 0px;
        color: rgba(0, 0, 0, 0.5);
        a {
          &:hover {
            color: #13E859;
            cursor: pointer;
          }
        }
      }
    }
  }
  .API_part1 {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    .APIbox01 {
      width: 16px;
      height: 16px;
      border: 1px solid black;
      margin: 0px 4px;
    }
  }
  .API_part2 {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    .APIbox02 {
      width: 55px;
      height: 20px;
      border: 1px solid black;
      border-radius: 5%;
      margin-right: 12px;
    }
  }
  .image1 {
    width: 500px;
    height: 282px;
    background-image: url('../image/1.jpg');
  }
  .image2 {
    width: 500px;
    height: 282px;
    background-image: url('../image/2.jpg');
  }
  .image3 {
    width: 500px;
    height: 282px;
    background-image: url('../image/3.jpg');
  }
  .image4 {
    width: 500px;
    height: 282px;
    background-image: url('../image/4.jpg');
  }
  .image5 {
    width: 500px;
    height: 282px;
    background-image: url('../image/5.jpg');
  }
  .textP {
    p {
      font-size: 1rem;
      margin: 16px 0px;
      line-height: 24px;
    }
    a {
      font-size: 1.1rem;
      color: #13E859;
      &:hover {
        color: rgba(19, 230, 90, .7);
        cursor: pointer;
      }
    }
  }
  .API_part3 {
    width: 16px;
    height: 16px;
    margin: 24px 0px 28px 38px;
    border: 1px solid black;
  }
}

#section_right {
  width: 280px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.rightbox {
  width: 220px;
  margin: 20px auto;
}

#searchbox {
  width: 220px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, .1);
  .search {
    height: 35px;
    width: 180px;
    padding: 8px;
    font-size: 1.1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    &:focus {
      outline: none;
    }
  }
}

.right_grid_box {
  width: 220px;
  height: 100%;
  font-size: 1.1rem;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.grid {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 10px 0px;
  margin: 10px 0px;
}

.gridbox1 {
  font-size: 0.95rem;
  line-height: 24px;
  margin: 10px 0px;
  a {
    height: 24px;
    margin: 8px 0px;
    &:hover {
      color: rgba(19, 230, 90, .7);
      cursor: pointer;
    }
  }
  .email {
    width: 158px;
    height: 21px;
    background-image: url('../image/6.png')
  }
}

.gridbox2 {
  width: 220px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imgbox {
  width: 220px;
  height: 60px;
}

.img {
  width: 59px;
  height: 59px;
  float: left;
  border: 1px solid black;
  margin: 0px 5px;
}

.rightbtn {
  padding: 4px 8px;
  background-color: rgba(0, 0, 200, .8);
  color: white;
  border-color: rgba(0, 200, 0, .5);
  margin: 8px 4px;
  border-radius: 5px;
}

.btn1 {
  width: 100px;
  height: 40px;
}

.btn2 {
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
}

.Facebook {
  width: 220px;
  height: 540px;
  border: 1px solid rgba(0, 0, 0, .7);
}

.fbtext {
  p {
    font-size: .8rem;
    a {
      &:hover {
        color: rgba(19, 230, 90, .7);
        cursor: pointer;
      }
    }
  }
}

.gridbox3 {
  width: 220px;
  height: 300px;
}

.gridbox4 {
  width: 220px;
  height: 300px;
}

.gridbox5 {
  width: 220px;
  height: 300px;
}

.gridbox6 {
  width: 220px;
  height: 300px;
}

.gridbox7 {
  width: 220px;
  height: 300px;
}

.gridbox8 {
  width: 220px;
  height: 30px;
}

#footer {
  height: 86px;
  margin: 15px 0px 0px 0px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 20px;
  margin-bottom: 50px;
  font-size: .9rem;
  background-color: white;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  h6 {
    margin-bottom: 10px;
    a {
      color: #13E859;
      cursor: pointer;
    }
  }
  p {
    float: right;
    a {
      color: #13E859;
      cursor: pointer;
    }
  }
}