/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/blog.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/blog.scss */
html,
body {
  width: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}

/* line 21, ../sass/blog.scss */
html {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 25, ../sass/blog.scss */
#bigbox {
  width: 940px;
  margin: 0px auto;
}

/* line 30, ../sass/blog.scss */
#header {
  height: 120px;
}
/* line 32, ../sass/blog.scss */
#header h3 {
  font-size: 1.5rem;
  padding: 40px 0px 10px 0px;
  color: #13E859;
}
/* line 36, ../sass/blog.scss */
#header h3:hover {
  color: rgba(19, 230, 90, 0.7);
  cursor: pointer;
}
/* line 41, ../sass/blog.scss */
#header p {
  font-size: 0.8rem;
}

/* line 46, ../sass/blog.scss */
#nav {
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}
/* line 51, ../sass/blog.scss */
#nav ul {
  display: flex;
  flex-direction: row;
}
/* line 54, ../sass/blog.scss */
#nav ul li {
  font-size: .9rem;
  height: 54px;
  padding: 20px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 59, ../sass/blog.scss */
#nav ul li:hover {
  color: #13E859;
  cursor: pointer;
}

/* line 67, ../sass/blog.scss */
#article {
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0px 15px 0px;
  padding: 0px;
}

/* line 77, ../sass/blog.scss */
#section_left {
  width: 640px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

/* line 85, ../sass/blog.scss */
.leftbox {
  width: 580px;
  height: 100%;
  margin: 20px auto 50px auto;
}
/* line 89, ../sass/blog.scss */
.leftbox .focus {
  width: 580px;
  height: 108px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 40px;
}
/* line 96, ../sass/blog.scss */
.leftbox .focus .focus_left {
  width: 70px;
  height: 70px;
  background-color: #13E859;
  border-radius: 5%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
/* line 104, ../sass/blog.scss */
.leftbox .focus .focus_left h3 {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 8px;
}
/* line 109, ../sass/blog.scss */
.leftbox .focus .focus_left p {
  font-size: .8rem;
  color: white;
}
/* line 114, ../sass/blog.scss */
.leftbox .focus .focus_right {
  margin-left: 20px;
  width: 460px;
  height: 107px;
}
/* line 118, ../sass/blog.scss */
.leftbox .focus .focus_right .focustext {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  line-height: 36px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
/* line 123, ../sass/blog.scss */
.leftbox .focus .focus_right .focustext:hover {
  color: #13E859;
  cursor: pointer;
}
/* line 129, ../sass/blog.scss */
.leftbox .focus .focus_right p {
  font-size: .9rem;
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 134, ../sass/blog.scss */
.leftbox .focus .focus_right p a:hover {
  color: #13E859;
  cursor: pointer;
}
/* line 142, ../sass/blog.scss */
.leftbox .API_part1 {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
/* line 146, ../sass/blog.scss */
.leftbox .API_part1 .APIbox01 {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  margin: 0px 4px;
}
/* line 153, ../sass/blog.scss */
.leftbox .API_part2 {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
/* line 157, ../sass/blog.scss */
.leftbox .API_part2 .APIbox02 {
  width: 55px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5%;
  margin-right: 12px;
}
/* line 165, ../sass/blog.scss */
.leftbox .image1 {
  width: 500px;
  height: 282px;
  background-image: url("../image/1.jpg");
}
/* line 170, ../sass/blog.scss */
.leftbox .image2 {
  width: 500px;
  height: 282px;
  background-image: url("../image/2.jpg");
}
/* line 175, ../sass/blog.scss */
.leftbox .image3 {
  width: 500px;
  height: 282px;
  background-image: url("../image/3.jpg");
}
/* line 180, ../sass/blog.scss */
.leftbox .image4 {
  width: 500px;
  height: 282px;
  background-image: url("../image/4.jpg");
}
/* line 185, ../sass/blog.scss */
.leftbox .image5 {
  width: 500px;
  height: 282px;
  background-image: url("../image/5.jpg");
}
/* line 191, ../sass/blog.scss */
.leftbox .textP p {
  font-size: 1rem;
  margin: 16px 0px;
  line-height: 24px;
}
/* line 196, ../sass/blog.scss */
.leftbox .textP a {
  font-size: 1.1rem;
  color: #13E859;
}
/* line 199, ../sass/blog.scss */
.leftbox .textP a:hover {
  color: rgba(19, 230, 90, 0.7);
  cursor: pointer;
}
/* line 205, ../sass/blog.scss */
.leftbox .API_part3 {
  width: 16px;
  height: 16px;
  margin: 24px 0px 28px 38px;
  border: 1px solid black;
}

/* line 213, ../sass/blog.scss */
#section_right {
  width: 280px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* line 221, ../sass/blog.scss */
.rightbox {
  width: 220px;
  margin: 20px auto;
}

/* line 226, ../sass/blog.scss */
#searchbox {
  width: 220px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 230, ../sass/blog.scss */
#searchbox .search {
  height: 35px;
  width: 180px;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 236, ../sass/blog.scss */
#searchbox .search:focus {
  outline: none;
}

/* line 242, ../sass/blog.scss */
.right_grid_box {
  width: 220px;
  height: 100%;
  font-size: 1.1rem;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

/* line 251, ../sass/blog.scss */
.grid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  margin: 10px 0px;
}

/* line 257, ../sass/blog.scss */
.gridbox1 {
  font-size: 0.95rem;
  line-height: 24px;
  margin: 10px 0px;
}
/* line 261, ../sass/blog.scss */
.gridbox1 a {
  height: 24px;
  margin: 8px 0px;
}
/* line 264, ../sass/blog.scss */
.gridbox1 a:hover {
  color: rgba(19, 230, 90, 0.7);
  cursor: pointer;
}
/* line 269, ../sass/blog.scss */
.gridbox1 .email {
  width: 158px;
  height: 21px;
  background-image: url("../image/6.png");
}

/* line 276, ../sass/blog.scss */
.gridbox2 {
  width: 220px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 284, ../sass/blog.scss */
.imgbox {
  width: 220px;
  height: 60px;
}

/* line 289, ../sass/blog.scss */
.img {
  width: 59px;
  height: 59px;
  float: left;
  border: 1px solid black;
  margin: 0px 5px;
}

/* line 297, ../sass/blog.scss */
.rightbtn {
  padding: 4px 8px;
  background-color: rgba(0, 0, 200, 0.8);
  color: white;
  border-color: rgba(0, 200, 0, 0.5);
  margin: 8px 4px;
  border-radius: 5px;
}

/* line 306, ../sass/blog.scss */
.btn1 {
  width: 100px;
  height: 40px;
}

/* line 311, ../sass/blog.scss */
.btn2 {
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
}

/* line 317, ../sass/blog.scss */
.Facebook {
  width: 220px;
  height: 540px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

/* line 324, ../sass/blog.scss */
.fbtext p {
  font-size: .8rem;
}
/* line 327, ../sass/blog.scss */
.fbtext p a:hover {
  color: rgba(19, 230, 90, 0.7);
  cursor: pointer;
}

/* line 335, ../sass/blog.scss */
.gridbox3 {
  width: 220px;
  height: 300px;
}

/* line 340, ../sass/blog.scss */
.gridbox4 {
  width: 220px;
  height: 300px;
}

/* line 345, ../sass/blog.scss */
.gridbox5 {
  width: 220px;
  height: 300px;
}

/* line 350, ../sass/blog.scss */
.gridbox6 {
  width: 220px;
  height: 300px;
}

/* line 355, ../sass/blog.scss */
.gridbox7 {
  width: 220px;
  height: 300px;
}

/* line 360, ../sass/blog.scss */
.gridbox8 {
  width: 220px;
  height: 30px;
}

/* line 365, ../sass/blog.scss */
#footer {
  height: 86px;
  margin: 15px 0px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
  font-size: .9rem;
  background-color: white;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}
/* line 374, ../sass/blog.scss */
#footer h6 {
  margin-bottom: 10px;
}
/* line 376, ../sass/blog.scss */
#footer h6 a {
  color: #13E859;
  cursor: pointer;
}
/* line 381, ../sass/blog.scss */
#footer p {
  float: right;
}
/* line 383, ../sass/blog.scss */
#footer p a {
  color: #13E859;
  cursor: pointer;
}
